body{
	font-family: helvetica, arial;
	font-size: 1em;
}
.container {
	font-size: 90%;
}
.twocolumn {
	float: left;
	width: 40%;
	padding: 5px;
}
#form_elements, #form_build { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
	background: #eee;
	padding: 5px;
}
#form_elements li, #form_build li { 
	margin: 5px;
	padding: 5px;
 }

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset legend {
	color: #e32;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	padding: 1%;
}
select {
	clear: both;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	padding: 0 3px;
}
input[type=checkbox] {
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
form .submit input[type=submit]:hover {
	background: #5BA150;
}
** Elements **/
#url-rewriting-warning {
	display:none;
}


input, select, textarea {
	border: solid 1px #8E927E;	 
}
.rows.first {
	padding-left: 60px;
}
.rows {
	padding-left: 20px;
}
.rows, span.properties {
	display: inline-block;
}
.rows label {
	font-weight: bold;
}
input[type="button"] {
    cursor: pointer;	
}
input[type="button"]:hover {
	color: #FFFFFF;
	background-color: #757867;
}
input.remove {
	cursor: pointer;
    float: right;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 20px;
    opacity: 0.2;
}
input.remove:hover {
    opacity: 1;
}
.fieldwrapper {
	padding: 10px;
}
.viewField:hover,
.fieldselected {
	background-color: #FFFFCC;
}
h3.number {
	color: #E8E9E4;
    font-size: 16px;
    font-weight: bold;
    left: 8px;
    position: absolute;
    text-align: right;
    top: -6px;
    width: 20px;
}
.rows h3 {
	cursor: pointer;
}
.rows h3:hover {
	background-color: #FFFFD5;
	color: #C0C0C0;
}
.rows h3:hover:after {
	content: " click to edit";
}
input[type="text"],
input[type="password"] {
	width: 250px;
}
input.cancel {
	float: right;
}

.filter {
	width: 80%;
	margin: 20px auto;
	padding: 40px;
	border: dotted 1px #C0C0C0;
}
input[type="text"] {
	width: auto;
}

.logout {
	border-top: 1px dotted #EAEBE7;
	padding: 20px 0;
	margin: 20px 0;
}
.form_hover {
	position: relative;
	width: 100%;
	bottom: 0;
}
th:hover,
th a:hover {
	background-color: #333333;
	color: #E2E2E2;
}
.form_hover form {
	background-color: #333333;
    border: 1px solid #000000 !important;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    left: -4px;
    padding: 10px;
    position: absolute;
    top: 5px;
    width: 174px;
}
input.search {
    height: 1.5em;
    width: 96%;
}
.form_hover input {
	margin-top: 4px;
	margin-bottom: 0px;
}
.form_hover label {
	font-weight: normal;
}
.hide {
	display: none;
}
.right {
	float: right;
	clear: both;
}
.properties {
}
.clearboth {
	height: 0px;
	line-height: 0px;
	width: 100%;
	clear: both;
}
.properties label {
	text-transform: capitalize;
}
fieldset {	
	width: 25%;
	float: left;
}
fieldset#formView {	
	width: 40%;
}
.view {
}
.view label {
	float: left;
	width: 40%;
	text-align: right;
	line-height: 28px;
	margin-right: 8px;
}
.rows_horizontal {
	width: 100%;
	float: left;
	padding: 4px;
	position: relative;
}
.viewField {
	cursor: pointer;
}

#formFields ul {
	margin: 0;
	padding: 0;
}

#formFields ul li {
	list-style: none;
	margin: 4px 0 4px 10px;
	padding: 0;
	font-weight: bold;
	width: 100%;
}

#formFields ul li ul li {
	font-weight: normal;
	cursor: pointer;
	padding: 2px;
}
#formFields .addfield:hover {
	background-color: #56584B;
	color: #FFFFFF;
}
.hidden {
	opacity: 0.2;
}
input[type="hidden"]{
	background-color: black;
    border: 1px solid;
    display: block;
    height: 55px;
    opacity: 1;
    visibility: visible;
    width: 222px;
}